.contenedor1{
    background-color: rgb(218, 139, 218);
    display: flex;
    flex-wrap: wrap;   
}

.contenedor1 div{
    background-color: rgb(240, 240, 240);
    margin: 10px 30px;
    padding: 15px;
    width: 120px;
}

@media (max-width:600px){
    .contenedor1{
        flex-direction: column;
    }
    .contenedor1 div{
        flex-basis: 100%;
    }
}

.contenedor2{
    background-color: rgb(218, 139, 218);
    display: flex;
    flex-direction: row;
    
}

.contenedor2 div{
    background-color: rgb(127, 226, 102);
    margin: 10px 30px;
    padding: 5px;
    width: 140px;
}

@media (max-width:600px){
    .contenedor2{
        flex-direction: column;
    }
    .contenedor2 div{
        flex-basis: 100%;
    }
}

.contenedor3{
    background-color: rgb(218, 139, 218);
    display: flex;
    flex-direction: row;
    
}

.contenedor3 div{
    background-color: rgb(221, 255, 98);
    margin: 10px 30px;
    padding: 5px;
    width: 140px;
}

@media (max-width:600px){
    .contenedor3{
        flex-direction: column;
    }
    .contenedor3 div{
        flex-basis: 100%;
    }
}

.contenedor4{
    background-color: rgb(218, 139, 218);
    display: flex;
    flex-direction: row;
    
}

.contenedor4 div{
    background-color: rgb(247, 218, 53);
    margin: 10px 30px;
    padding: 5px;
    width: 140px;
}
@media (max-width:600px){
    .contenedor4{
        flex-direction: column;
    }
    .contenedor4 div{
        flex-basis: 100%;
    }
}

.contenedor5{
    background-color: rgb(218, 139, 218);
    display: flex;
    flex-direction: row;
    
}

.contenedor5 div{
    background-color: rgb(247, 108, 53);
    margin: 10px 30px;
    padding: 5px;
    width: 140px;
}
@media (max-width:600px){
    .contenedor5{
        flex-direction: column;
    }
    .contenedor5 div{
        flex-basis: 100%;
    }
}
.contenedor6{
    background-color: rgb(218, 139, 218);
    display: flex;
    flex-direction: row;
    
}

.contenedor6 div{
    background-color: rgb(200, 99, 240);
    margin: 10px 30px;
    padding: 5px;
    width: 140px;
}

@media (max-width:600px){
    .contenedor6{
        flex-direction: column;
    }
    .contenedor6 div{
        flex-basis: 100%;
    }
}
.contenedor7{
    background-color: rgb(218, 139, 218);
    display: flex;
    flex-direction: row;
    
}

.contenedor7 div{
    background-color: rgb(96, 140, 223);
    margin: 10px 30px;
    padding: 5px;
    width: 140px;
}

@media (max-width:600px){
    .contenedor7{
        flex-direction: column;
    }
    .contenedor7 div{
        flex-basis: 100%;
    }
}
.contenedor8{
    background-color: rgb(218, 139, 218);
    display: flex;
    flex-direction: row;
    
}

.contenedor8 div{
    background-color: rgb(53, 208, 247);
    margin: 10px 30px;
    padding: 5px;
    width: 140px;
}

@media (max-width:600px){
    .contenedor8{
        flex-direction: column;
    }
    .contenedor8 div{
        flex-basis: 100%;
    }
}



